* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  scroll-behavior: smooth;
}

.grid {
    background-color: black; 
    color: white;  
}

.container {
    margin: 0 4rem;
    display: grid;
    
}

/* ============== Navbar ============== */

.grid-nav {
    background-color: white;
    max-height: 75px;
    border: 1px solid gray;
}

.navbar{
    text-align: right;
    height: 70px;
    line-height: 70px;
    color: black;
    z-index: 1000;
}

.logo {
    width: 3rem;
    float: left;
    margin-top: .5rem;
}

.menu{
    background-color: white;
    
    margin: 0 30px 0 0;
}

.menu a {
    text-decoration: none;
    color: black;
    margin: 0 10px;
    line-height: 70px;
}
label {
    margin: 0 40 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
}

#toggle {
    display: none;
}


/* ============== Hero Section ============== */

.hero {
    height: 75vh;
    margin-top: 12rem;
}



h1{
    font-weight: 600;
    font-size: 2.8rem;
}

span {
    color:#37A749 ;
}
.btn {
    margin-top: 1rem;
    padding: .5rem 1rem;
    width: 10rem;
    border-radius: .4rem;
    background-color: #37A749;
    border: 2px solid #37A749 ;
    color: white;
    font-size: 110%;
}

.cv {
    background-color: black;
    margin-left: 1rem;
}

.btn:hover {
    background-color: white;
    color: black;
    border: 4px solid white;
}

.hero img {
    display: none;
}

/* ============== Portfolio ============== */

.portfolio-h1{
    padding-bottom: 3rem;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(231, 231, 231, 0.2);
    background-color: white;
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    margin-bottom: 3rem;
    padding-bottom: 2rem;
    border-radius: 1rem;
  }

  .card a {
      color: black;
      text-decoration: none;

  }

  .card img{
      width: 300px;
      height: 250px;

  }
  .card p {
     padding: 0 1rem;
  }
  
/* ============== About ============== */

.about img{
    display: none;
}

.about p {
    padding: 1.5rem 0 3rem 0;
}

/* ============== Contact ============== */

input[type=text],input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #37A749;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: white;
    border: 2px solid white;
    color: black;
  }
  
/* ============== Footer ============== */

  .social-links {
      margin-top: 3rem;
      padding: 2rem 0;
      background-color: white;
      text-align: center;
  }

  .social-links img{
      width: 7vh;
      padding-left: .5rem;
  }

  .footer-text{
      text-align: center;
      color: gray;
  }

/* ============== Media Querries ============== */

@media only screen and (max-width: 360px){
    .container {
        margin: 0 1.5rem;  
    }
    
    .hero {
        height: 100vh;
        margin-top: 3.5rem;
    }

}

@media only screen and (max-width: 580px) {

    .container {
        margin: 0 1.5rem;  
    }
    
    .hero {
        margin-top: 3.5rem;
    }

 label {
     display: block;
     cursor: pointer;
 }

 .menu{
     text-align: center;
     width: 100%;
     display: none;

     
 }

.menu a:first-child{
    padding-top: 5rem;
}

 .menu a {
    z-index: -1; 
     display: block;
     border-bottom: .5px solid gray;
     margin: 0%;
 }
 #toggle:checked + .menu {
     display: block;
 }

 .btn {

    width: 9rem;
    font-size: 90%;
}

.cv {
    background-color: black;
    margin-left: 0;
}


}

@media only screen and (min-width: 800px){

    
    .menu{
        font-size: 1.4rem;
    }

    .menu a {
        margin: 0 1rem;
    }

    .menu a:last-child{
        margin: 0;
    }
    .hero {
        display: grid;
        grid-template-areas: "A A A A    A A A A   B B B B";
        
    }

    .hero img {
        display: block;
        width: 18rem;
        padding-left: .5rem;
        padding-top: 3.5rem;
    }

    .about{
        display: grid;
        grid-template-areas: "B B B B     A A A A A      A A A A";
    }

    .about h1{
        margin-bottom: 2.5rem;
    }

    .about img{
        grid-area: B;
        display: block;
        width: 18rem;
    }

    .about-p {
        font-size: .8rem;
        align-self: end;
        margin: 9rem 0 0 1rem;
    }
}

@media only screen and (min-width: 1050px){

    .text {
        padding-right: 8rem;
    }

    .hero img {
        padding-left: .5rem;
        padding-top: 1rem;
    }

    .btn {
        padding-right: 1rem;
    }

    .card-container {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap:1rem;
    }

    .about-p {
        font-size: 1rem;
        margin: 10rem 0 0 1rem;
    }

}

@media only screen and (min-width: 1350px){

    .hero {
        display: grid;
        grid-template-areas: "A A A A    A A B B   B B B B";
        
    }

    .text {
        grid-area: A;
        margin-top: 5rem;
    }

    .hero img {
        grid-area: B;
        width: 25rem;
    }

    .btn {
        margin-top: 2rem;
    }

    .about-p {
        margin-top: 12rem;
    }

    .form {
        width: 50rem;
        margin: auto;
    }
    
}

@media only screen and (min-width: 1536px) {


    .menu a {
        margin: 0 3rem;
    }

    .menu a:last-child{
        margin: 0;
    }

    .hero h1 {
        font-size: 3.5rem;

    }
    .text {
        grid-area: A;
        margin-top: 8rem;
    }

    .hero img {
        grid-area: B;
        width: 35rem;
    }

    .btn {
        margin-top: 1.5rem;
    }

    .about-p {
        width: 40rem;
        margin-top: 17rem ;
    }

    .about img{
        margin-left: 10rem;
        margin-bottom: 3rem;
        width: 30rem;
    }

}